<% if current_user %>
<h1>Welcome <%= current_user.first_name %>!</h1>
<% else %>
<h1>Welcome!</h1>
<% end %>
<h3>Here's What's on Everyone's Minds </h3>

<div>
	<% @posts.each do |post| %>
	<div class="posts">
		<h6>Posted By:</h6> <%= post.user.username %>
		<br> 
		<h6>Title:</h6> <%= post.title %>
		<br> 
		<a href="/posts/<%= post.id%>"><h6>Post:</h6> </a><%= post.body %> 
	</div>
		<br>
		<br>
	<% end %>
</div>

<div class="create_post">
	<% if current_user %>
		<form action="/create-post" method="post">
			<label for="title">Title</label>
			<input type="text" name="title">

			<label for="body">Message</label>
			<textarea rows="10" type="textarea" name="body"></textarea>

			<button type="submit">Create Post</button>
		</form>
	<% end %>
</div>