<h1>sup bitches</h1>
<h1><%= current_user.first_name %>Homepage</h1>

<h3>Your Information</h3>
Name: <%= @user.first_name%> <%= @user.last_name%><br>
Age: <%= @user.age%><br>
Username: <%= @user.username%><br>
Email: <%= @user.email%><br>
Posts: <%= @user.posts.count%><br>
<br>
<a href="/edit">Edit Info</a><br>

<br>
<% @user_posts.each do |post| %>
	<br>
	Title: <%= post.title%>
	<br>
	Post: <%= post.body %>
	<br>
	<form method="post" action="/delete-post">
		<input type="hidden" name="id" value="<%= post.id %>">
		<button type="submit">Delete Post</button>
	</form>
	<br>
	<br>

<% end %>	